<div class="flex justify-center items-center">
  
    <form #embedForm="ngForm" >
        <!-- {{embedForm.value | json }} -->
        <div class="p-2 flex flex-col gap-2">
            <span>Title </span>
            <input class="border outline-none p-1 px-4" name="title" [(ngModel)]="formData.heading"
                />
        </div>
        <div class="p-2 flex flex-col gap-2">
            <span>Sub Title </span>
            <input class="border outline-none p-1 px-4" name="subTitle" [(ngModel)]="formData.subHeading"
                />
        </div>
        <div class="p-2 flex flex-col gap-2">
            <span>Content </span>
            <textarea class="border h-32 w-72 outline-none p-1 px-4" name="content" [(ngModel)]="formData.body"
                ></textarea>
        </div>

        <div class="p-2">
            <button (click)="onSubmit(embedForm)"
                class="border bg-indigo-600 py-1 px-4 rounded-md text-gray-50">
                Submit
            </button>
        </div>
    </form>
</div>

<!-- H2 for heading
     H4 for subheading
     pre for the content
-->