<router-outlet></router-outlet>


<!-- 
To identify the active route links, we can do use the following 

<a routerLink="/some-link" 
  routerLinkActive="custon-active-button-class" 
    ariaCurrentWhenActive="page" >

  This is some Link...
</a>

ariaCurrentWhenActive : takes these values -> 
"page" -> means current page
"step" -> used in process parts like checkout 
"location" -> used for current location 
"date" -> for date or time related information 
"time" -> for time representation 
"true" -> meaning the link is currently active 

 -->