<markdown-toolbar for="textarea_id">
    <md-bold>
        <button class="">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-type-bold" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.21 13c2.106 0 3.412-1.087 3.412-2.823 0-1.306-.984-2.283-2.324-2.386v-.055a2.176 2.176 0 0 0 1.852-2.14c0-1.51-1.162-2.46-3.014-2.46H3.843V13H8.21zM5.908 4.674h1.696c.963 0 1.517.451 1.517 1.244 0 .834-.629 1.32-1.73 1.32H5.908V4.673zm0 6.788V8.598h1.73c1.217 0 1.88.492 1.88 1.415 0 .943-.643 1.449-1.832 1.449H5.907z" />
            </svg>
        </button>
    </md-bold>
    <md-header>header</md-header>
    <md-italic>
        <button class="">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-type-italic" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 2h3v12h-3zM6 2h3v12H6z" />
            </svg>
        </button>
    </md-italic>
    <md-quote>
        <button class="">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-quote" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.5 3.5a5.086 5.086 0 0 1 3 1 .75.75 0 0 1-1.06 1.06 3.543 3.543 0 0 0 0-.4 3 3 0 0 0-3-3H1v2h5.5zM1 9h5.5a3 3 0 0 0 0-6H1V5h5.5a.5.5 0 0 1 0 1H1v2zm3 4.5a5.086 5.086 0 0 1-3-1 .75.75 0 0 1 1.06-1.06 3.543 3.543 0 0 0 0 .4 3 3 0 0 0 3 3H15v-2H6.5zM15 10h-5.5a3 3 0 0 0 0 6H15v-2h-5.5a.5.5 0 0 1 0-1H15v-2z" />
            </svg>
        </button>
    </md-quote>
    <md-code>
        <button class="">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-code" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-7-7a.5.5 0 1 1 .708-.708L4 9.293 11.146 2.146a.5.5 0 0 1 .708 0z" />
                <path d="M4.854 11.354a.5.5 0 0 1-.353.854H1.5a.5.5 0 0 1 0-1h2.854a.5.5 0 0 1 .353.146z" />
                <path d="M14.854 10.354a.5.5 0 0 1 0 .708L11.707 14l3.147 3.146a.5.5 0 0 1 .708 0z" />
            </svg>
        </button>
    </md-code>
    <md-link>
        <button class="">
            <!-- Add your link icon SVG here -->
        </button>
    </md-link>
    <md-image>
        <button class="">
            <!-- Add your image icon SVG here -->
        </button>
    </md-image>
    <md-unordered-list>
        <button class="">
            <!-- Add your unordered list icon SVG here -->
        </button>
    </md-unordered-list>
    <md-ordered-list>
        <button class="">
            <!-- Add your ordered list icon SVG here -->
        </button>
    </md-ordered-list>
    <md-task-list>
        <button class="">
            <!-- Add your task list icon SVG here -->
        </button>
    </md-task-list>
    <md-mention>
        <button class="">
            <!-- Add your mention icon SVG here -->
        </button>
    </md-mention>
    <md-ref>
        <button class="">
            <!-- Add your ref icon SVG here -->
        </button>
    </md-ref>
</markdown-toolbar>
<textarea id="textarea_id"></textarea>
